body{
  background-color: #c7bea3bd;
}

h1.ricerca{
  text-align: center;
}
input.elementiIniziali{
  position: absolute;
  left: 550px;
}
button.elementiIniziali{
  position: absolute;
  left: 750px;
}

h2.primo{
    margin-top: 100px;
}

h2.altri{
    margin-top: 300px;
    }

img{
    height: 250px;
    width: auto;
    float:left;
}
p.description{
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    margin-top: 75px;
    margin-left: 200px;
}
